html , body  , header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#gname {
    font-family: 'Cantarell', sans-serif;
    font-variant: small-caps;
    font-weight: 550;
    color: #0062d2;
    font-size: 1.7rem;
    /*border: 2px solid black;*/
}

form {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
}

body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
}
#logo {
  font-size: 2.3rem;
  font-family: 'Anton', cursive;
  color: grey;
}
label {
  font-family: "Cantarell";
}
#mainplay {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 2.4%;
}
